@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body{
  background-color: #3e3e3e;
}
.main {
  width: 100%;
  height: 100vh;
  background-color: #3e3e3e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 100px;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: #2c6ac8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 100;
}

.nav-itm {
  padding-left: 150px;
}

.nav-itm a {
  color: white;
  text-decoration: none;
  padding-right: 100px;
  font-family: "Londrina Solid", cursive;
  font-size: 1.2em;
}

.nav-itm a:hover {
  color: rgb(0, 0, 0);
  
}


.title {
  color: white;
  font-size: 1.7rem;
  position:absolute;
  top: 15%;
  left: 5%;
  font-family: "Londrina Solid", cursive;
  letter-spacing: 0.25em;
}

.logo-conatainer {
  width: 300px;
  height:300px;
  background: linear-gradient(#33ccff,#ff0066); 
  border-radius: 50%;
  animation: animate 0.4s linear infinite;
}

@keyframes animate {
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

.logo-conatainer::after{
    content: ' ';
    position:absolute;
    top:40px;
    right: 40px;
    bottom: 40px;
    left: 40px;
    background-color: #3e3e3e;
    border-radius: 50%;
     
}

.logo-conatainer span{
    position: absolute;
    width:100%;
    height:100%;
    background: linear-gradient(#1c994a,#a6d842);
    border-radius: 50%;
}

.logo-conatainer span:nth-child(1){
    filter: blur(5px);
}
.logo-conatainer span:nth-child(2){
    filter: blur(10px);
}
.logo-conatainer span:nth-child(3){
    filter: blur(20px);
}
.logo-conatainer span:nth-child(4){
    filter: blur(55px);
}


.background-logo {
  width: 10%;
  height: auto;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.download-btn{
    padding:1rem 2rem;
    border-radius: 20px;
    border:none;
    font-family: "Londrina Solid", cursive;
    font-size:1.7rem;
    font-weight:500;
    letter-spacing: 0.2rem;
    background-color: #2c6ac8;
    color: #ffffff;
    position: absolute;
    bottom: 15%;
    text-decoration: none;
}

.download-btn:hover{
  background-color: #082755;
}

.window{
  color: white;
  font-family: "Londrina Solid", cursive;
  font-weight: 300;
  font-size: 1.2rem;
  position:absolute;
  bottom: 10%;
  z-index: 20;

}

.feedback-main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;

}

.feedback-form{
  background-color:white;
  border-radius: 20px;
}

.report-main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;

}

.report-form{
  background-color:white;
  border-radius: 20px;
}
  
@keyframes rotation{
    0%{
        transform: rotate(-360deg);
    }
}

@keyframes rotate {
    0%{
        transform: rotate(-360deg);
    }
}

/* section 2 */

.sec-2{
  width: 100%;
  height: 200vh;
  background-color:#3e3e3e;
}

.sec-3{
  width: 100%;
  height: 100vh;
  background-color:#3e3e3e;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

hr{
  width:100%;
}

.copyright{
  width: 100%;
  height: 30px;
  background-color:#2c6ac8;
  position: absolute;
  bottom: 0;
}



.copy-title{
  font-family: "Londrina Solid", cursive;
  text-align: center;
  margin-top: 5px;
  color: white;
  letter-spacing: 3px;
}




.f1{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
}

.feature-img-1{
  width: 30%;
  height: auto;
  margin-top: 40px;
  margin-left: 100px;
}


.feature-desc-1{
  color: white;
  position: relative;
  left: 150px;
}


.f2{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.feature-basic-img{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  column-gap: 20px;
}

.feature-img-2{
  width: 30%;
  padding-bottom: 10px ;
  height:150px;
}

.feature-desc-2{
  position: relative;
  right: 100px;
  color: white;
}


.f3{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
}

.feature-img-3{
  width: 30%;
  margin-left: 100px;
}

.feature-desc-3{
  position: relative;
  left: 100px;
  color: white;
}

.f4{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.feature-img-4{
  width: 30%;
  margin-right:  50px;
}

.feature-desc-4{
  position: relative;
  right: 100px;
  color: white;
}

.feature-desc-1,.feature-desc-2,.feature-desc-3,.feature-desc-4{
  font-family: "Londrina Solid", cursive;
  letter-spacing: 2px;
}


.con-sec-3{
  width: 90%;
  height: 70%;
  background-color: white;
  position: absolute;
  top: 150px;
  border-radius: 50px;
  display: flex;
  justify-content:center;
  word-wrap: break-word;
}

.img-1{
  width: 10%;
  height: auto;
  position: absolute;
  top: 30px;
}

.desc-about{
  position: absolute;
  margin-top: 12%;
  font-size: 1.5rem;
  font-family: "Londrina Solid", cursive;
  letter-spacing: 3px;
}

@media only screen and (max-width: 1380px)  and (min-width: 1291px)  {
  .feature-img-2{
    width: 250px;
    height:150px;
  }

  .download-btn{
    bottom: 12%;
    font-size: 1.5rem;
}

.window{
  font-size: 1.5rem;
  bottom: 6%;
}

}



@media only screen and (max-width: 1290px) {
  .feature-img-2{
    width: 250px;
    height:150px;
  }

  .download-btn{
    bottom: 10%;
    font-size: 2rem;
}

.window{
  font-size: 1.5rem;
  bottom: 5%;
}

}






@media only screen and (min-width: 1850px) {
  
  .logo{
    width:80px;
    height:80px;
  }
  
  .navbar{
    height: 100px;
    
  }

  .nav-itm a{
    font-size:1.6rem;
  }

  .title{
    font-size: 3rem;
  }

  .logo-conatainer{
    width: 30em;
    height: 30em;
  }

  .background-logo{
    width: 300px;
    height: 300px;
  }

  .download-btn{
    padding:30px 100px;
    font-size:2rem;
   position: absolute;
    bottom: 13%; 
  }

  .window{ 
    font-size: 1.7rem;
    position:absolute;
    bottom: 8%;
  }

  .feature-img-1{
    width: 37%;
    height: 400px;
    margin-top: 60px;
    margin-left: 100px;
  }

  .feature-img-2{
    width: 350px;
    height:230px;
  }

  .feature-img-3,.feature-img-4{
    height: 400px;
  }

  .feature-desc-1,.feature-desc-2,.feature-desc-3,.feature-desc-4{
    font-size: 1.7rem;
  }

  .feature-desc-1{
    position: relative;
    left: 300px;
  }
  
  .feature-desc-2{
    position: relative;
    right: 250px; 
  }
  
  .feature-desc-3{
    position: relative;
    left: 250px;
  }

  .feature-desc-4{
    position: relative;
    right: 300px;
  }
  
  .img-1{
    width: 20%;
    height: auto;
    position: absolute;
    top: 30px;
  }

  .desc-about{
    position: absolute;
    margin-top: 25%;
    font-size: 2rem;
    
  }

}
/* done */